{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/841e909f20.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'quicktix/css/dash.css' %}">
    <title>QuickTix</title> 
</head>

<body>
    <!--Side Navbar-->
      <div class="sidebar">
        <div class="logo-details">
            <i class="fa-solid fa-train-subway"></i>
          <span class="logo_name">QuickTix</span>
        </div>
          <ul class="nav-links">
            <li>
              <a href="#" class="active">
                <i class="fa-solid fa-cart-plus" aria-hidden="true"></i>
                <span class="links_name">Make a Booking</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-solid fa-box-archive"></i>
                <span class="links_name">History</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-solid fa-user"></i>
                <span class="links_name">My Profile</span>
              </a>
            </li>
            <li class="log_out">
              <a href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="links_name">Log out</span>
              </a>
            </li>
          </ul>
      </div>
    <!--Side navbar end-->

<!--Booking area code-->
<section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='fa-solid fa-bars sidebarBtn'></i>
        <span class="dashboard">Booking Area</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </nav>

<!--Body of booking area-->
<div class="wrapper">
    <div class="container">
        <header>Your Journey Begins</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Origin</label>
                            <select required>
                                <option disabled>From where?</option>
                                <option>Lagos</option>
                                <option>Abeokuta</option>
                                <option>Ibadan</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Destination</label>
                            <select required>
                                <option disabled>To where?</option>
                                <option>Lagos</option>
                                <option>Abeokuta</option>
                                <option>Ibadan</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Preferred class</label>
                            <select required>
                                <option disabled>Choose</option>
                                <option>Standard</option>
                                <option>Business</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Departure date</label>
                            <input type="date" placeholder="Select" required>
                        </div>

                        <div class="input-field">
                            <label>Next of Kin</label>
                            <input type="text" placeholder="father, mother etc" required>
                        </div>

                        <div class="input-field">
                            <label>Contact</label>
                            <input type="number" placeholder="next of kin contact" required>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title">Means of Identification</span>

                    <div class="fields">
                        <div class="input-field">
                        <label>ID type</label>
                            <select required>
                                <option disabled>Select</option>
                                <option>Driver's license</option>
                                <option>School ID</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>ID Number</label>
                            <input type="number" placeholder="Enter ID number" required>
                        </div>

                        <div class="input-field">
                            <label>Email address</label>
                            <input type="text" placeholder="email" required>
                        </div>
                    </div>

                    <div class="nextBtn btnText">
                    <!--<button class="nextBtn">-->
                        <input type="submit" value="Book ticket"></input>
                        <i class="uil uil-navigator"></i>
                    </button>
                    </div>
                </div> 
              </div>
      
        </form>
        </div>
</div>
</section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("fa-bars" ,"fa-bars-alt-right");
}else
  sidebarBtn.classList.replace("fa-bars-alt-right", "fa-bars");
}
 </script>
    
</body>
</html>