{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/841e909f20.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'quicktix/css/dash.css' %}">
    <title>QuickTix</title> 
</head>

<body>
    <!--Side Navbar-->
      <div class="sidebar">
        <div class="logo-details">
            <i class="fa-solid fa-bus"></i>
          <span class="logo_name">QuickTix</span>
        </div>
          <ul class="nav-links">
            <li>
              <a href="#" class="active">
                <i class="fa-solid fa-cart-plus" aria-hidden="true"></i>
                <span class="links_name">Make a Booking</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-solid fa-box-archive"></i>
                <span class="links_name">History</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-solid fa-user"></i>
                <span class="links_name" title="View profile">{{ request.user.first_name }} {{ request.user.last_name }}</span>
              </a>
            </li>
            <li class="log_out">
              <a href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="links_name">Log out</span>
              </a>
            </li>
          </ul>
      </div>
    <!--Side navbar end-->

<!--Booking area code-->
<section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='fa-solid fa-bars sidebarBtn'></i>
        <span class="dashboard">Booking Area</span>
      </div>
      <div class="profile-details">
        <img src="{% static 'quicktix/img/avatar.svg' %}" alt="">
        <span class="admin_name">Admin</span>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <!--<div class="search-box">
        <input type="text" placeholder="Search...">
        <i class="fa-solid fa-magnifying-glass"></i>-->
    </nav>

<!--Body of booking area-->
<div class="wrapper">
    <div class="container">
        <header>Your Journey Begins</header>

        <form onsubmit="return payWithPaystack(event);" id="ticketForm">
            {% csrf_token %}
            <div class="form first">
                <div class="details personal">
                    <span class="title">Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Origin</label>
                            <select required name="origin">
                                <option disabled>From where?</option>
                                <option>Lagos</option>
                                <option>Abeokuta</option>
                                <option>Ibadan</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Destination</label>
                            <select required name="destination">
                                <option disabled selected>To where?</option>
                                <option>Lagos</option>
                                <option>Abeokuta</option>
                                <option>Ibadan</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Preferred class</label>
                            <select name="ticket_class" onchange="calculateAmount(this.value)" required>
                                <option disabled selected>Choose</option>
                                <option value="2000">Standard</option>
                                <option value="3000">Business</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Cost</label>
                            <input name="cost" id="tot_amount" type="text" readonly>
                        </div>

                        <div class="input-field">
                            <label>Departure date</label>
                            <input type="date" placeholder="Select" required name="departure_date">
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title">Means of Identification</span>

                    <div class="fields">
                        <div class="input-field">
                        <label>ID type</label>
                            <select required name="id_type">
                                <option disabled>Select</option>
                                <option>Driver's license</option>
                                <option>School ID</option>
                                <option>National ID</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>ID Number</label>
                            <input type="number" name="id_number" placeholder="Enter ID number" required>
                        </div>

                        <div class="input-field">
                            <label>Email address</label>
                            <input type="text" placeholder="Email" required value="{{ request.user.email }}" contenteditable="false" contextmenu="false" disabled>
                        </div>

                        <div class="input-field">
                            <label>Next of Kin</label>
                            <input type="text" placeholder="father, mother etc" name="next_of_kin" required>
                        </div>

                        <div class="input-field">
                            <label>Contact</label>
                            <input name="next_of_kin_contact" type="number" placeholder="next of kin contact" required>
                        </div>
                    </div>

                    <button class="nextBtn" type="submit" onclick="payWithPaystack(event)">
                        <span class="btnText">Book now</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div> 
              </div>
        </form>
        </div>
</div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-loading-overlay@1.1.0/dist/js-loading-overlay.min.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    // js code to switch collapse booking area
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function() {
      sidebar.classList.toggle("active");
      if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("fa-bars" ,"fa-bars");
    }else
      sidebarBtn.classList.replace("fa-bars", "fa-bars");
    }
    //js code to display ticket prices
    function calculateAmount(val) {
        var tot_price = val * 1;
        var divobj = document.getElementById('tot_amount');
        divobj.value = tot_price;
    }
</script>
<script>
    function createTicket(payment_ref) {
      const form = document.getElementById('ticketForm');
      const data = new FormData(form);
      const url = `/ticket/create/${payment_ref}`;
      axios.post(url, data).then((response) => {
        const { message } = response;
        swal({text: "Ticket Booked Successfully", icon: 'success'})
      }).catch((error) => {
        swal({text: "An error occurred!", icon: "error"})
      });
      const { errors, message } = response.data;
    }
    
    const ticketForm = document.getElementById('ticketForm');
    
    ticketForm.addEventListener("submit", payWithPaystack, false);
    function payWithPaystack(event) {
        event.preventDefault();
        const key = `pk_test_cca6946984cb9b80b6efd2d25f250f0de54680b3`;
        let handler = PaystackPop.setup({
            key: key,
            email: "{{ request.user.email }}",
            amount: document.getElementById("tot_amount").value * 100,
            onClose: function() {
                toastr.info("Payment Closed!");
            },
            callback: function(response) {
              const reference = response.reference;
              createTicket(reference);
            }
        });
        handler.openIframe();
    }
  </script>
</body>
</html>