{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
     integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
     crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static 'quicktix/css/style.css' %}">
    <title>QuickTix</title> 
</head>

<body>
<!---Navbar-->
{% include 'quicktix/partials/navheader.html' %}

<!-- Header-->
<section class="features-head bg-primary py-3">
    <div class="container grid">
        <div>
            <h1 class="lg">Features</h1>
            <p class="lead">Check out the amazing features that makes QuickTix the first choice.</p>
        </div>
            <img src="{% static 'quicktix/img/feature.svg' %}" alt="">
    </div>
</section>

<!--Sub header-->
<section class="features-sub-head bg-light py-3">
    <div class="container grid">
        <div>
            <h1 class="xl">The QuickTix Platform</h1>
            <p class="lead">This platform is here to make it possible for passengers 
                to book ticket seamlessly prior to arrival at the train station. </p>
        </div>
            <img src="{% static 'quicktix/img/QuickTix.jpg' %}" alt="">
        </div>
</section>

<!--Features main content-->
<section class="features-main my-2">
    <div class="container grid grid-3">
        <div class="card flex">
            <i class="fas fa-book fa-3x"></i>
            <p>Automated booking methods to save you the time and energy</p>
        </div>

        <div class="card flex">
            <i class="fas fa-lock fa-3x"></i>
            <p>Your data is safe and secure</p>
        </div>

        <div class="card flex">
            <i class="fas fa-laptop-code fa-3x"></i>
            <p>Built by skilled developers</p>
        </div>

        <div class="card flex">
            <i class="fas fa-power-off fa-3x"></i>
            <p>Ease of use, user friendly UI</p>
        </div>

        <div class="card flex">
            <i class="fas fa-ticket fa-3x"></i>
            <p>Confirm ticket bookings in two taps!</p>
        </div>

        <div class="card flex">
            <i class="fas fa-train fa-3x"></i>
            <p>Train transportation made seamless</p>
        </div>
    </div>
</section>




<!--Footer -->
<footer class="footer bg-dark py-5">
    <div class="container grid grid-3">
        <div>
            <h1>QuickTix</h1>
            <p>Copyright &copy; 2022</p>
        </div>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="features.html">Features</a></li>
        </ul>
    </nav>

        <div class="social">
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
</footer>


</body>
</html>
